 * {
    box-sizing: border-box;
    
  } 

  :root {
    --bg-primary-color: rgba(238,174,202,0.8);
    --font-default: Nunito, sans-serif;
    --bg-default:   background: rgb(255,233,243);
    background: -moz-radial-gradient(circle, rgba(255,233,243,1) 23%, rgba(215,232,252,1) 77%);
    background: -webkit-radial-gradient(circle, rgba(255,233,243,1) 23%, rgba(215,232,252,1) 77%);
    background: radial-gradient(circle, rgba(255,233,243,1) 23%, rgba(215,232,252,1) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe9f3",endColorstr="#d7e8fc",GradientType=1); 
  }

  section:not(:first-child) {
    min-height: 100vh;
    padding-top: 78px;
  }
  .hamburger {
    background: var(--bg-primary-color);
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0.25em;
    top: 0.25em;
    z-index: 100;
    font-family: fantasy;
  }

  .hamburger > div {
    background-color: rgb(135, 134, 210);
    width: 18px;
    height: 4px;
    margin: 2px 3px;
    transition: all 500ms ease;
  }

  .hamburger:is(.open) > div:nth-child(2) {
    opacity: 0;
  }

  .hamburger > div:first-child {
    margin: 4px 3px 2px 3px !important;
  }

  .hamburger:is(.open) > div:first-child {
    transform: rotate(45deg);
    top: 5px;
    position: relative;
  }

  .hamburger > div:last-child {
    margin: 2px 3px 4px 3px !important;
  }

  .hamburger:is(.open) > div:last-child {
    transform: rotate(-45deg);
    top: -7px;
    position: relative;
  }
  
  body {
    margin: 0;
    font-family: var(--font-default);
    background: var(--bg-default);
  }
  
  #navbar nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(183, 211, 211, 0.7);
    padding:1em;
    font-family: var(--font-default); 
    transition: all 250ms ease;
  }
  
  #navbar ul {
    width: 100%;
    list-style: none;
    padding: 0.5em;
    margin: 0;
    display: flex;
    grid-template-columns: repeat(10, 1fr);
    justify-content: space-evenly;
  }
  #navbar ul li a {
    padding: 5px 5px 5px 5px;
    background-color: #fba988;
    color: rgb(221, 98, 98);
    text-decoration: none;
    border-radius: 9px;
    border-top: 1px solid #f6cf96;
    border-bottom: 5px solid #f6cf96;
    transition: 0.3s;
    font-size: large;
    font-weight: bolder;
  }

  #navbar ul :hover {
    color: rgb(2, 108, 108);
   }
  
  .header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: title case;
    padding: 3em;
    background-color: #eee4c5;
    color: rgb(221, 128, 128);
    border-top: 3px solid #f6cf96;
    border-bottom: 3px solid #f6cf96;
    border-radius: 3px;
    margin-top: 4.5rem;
  }
  
  .profile div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .profile img {
    width: 100%;
    display: block
  }
  .profile {
    margin-right: 1em;
  }
  .header h1 {
    padding-left: 1rem;
    color: rgb(221, 128, 128);
    font-size: larger;
  }

  /* #language-teacher h2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
  } */



.workshops {
  display: flex;
  justify-content: center;
  margin: auto;
}  

  /* Slideshow container */
.slideshow-container {
  max-width: 550px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #14021b;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text h3 {
  font-size: 20px;
  padding-top: 1rem;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

 


  #gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 10px;
  }
  /* how to make the same space for the category imgs to both sides???  */

  #gallery[data-state="viewing_category"] {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  #gallery > div:not(.selected) > img {
    width: 100%;
    /* transform: translateY(calc(90px - 50%)); */
    border-radius: 15px;
    height: 55%;
  }
  #gallery > div.selected > img {
    max-height: 100%;
    display: block;
    margin: auto;
    align-items: center;
  }

  #gallery img.bottom {
    transform: none !important;
    bottom: 0;
    position: absolute;
  }

  #gallery img.top {
    transform: none !important;
  }
  #gallery > div {
    position: relative;
    overflow: hidden;
  }
  #gallery > div:not(.selected) {
    height: 520px;
  }
  #gallery > div.selected {
    height: 660px;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #gallery > div:not(.cover):not(.selected) {
    display: none;
  }

  #gallery > div:not(.selected) > .footer {
    display: none;
  }

  #gallery > div:not(.selected) > .category_cover {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    align-content: center;
    background-color: transparent;
  }

  #gallery > div:not(.selected) > .category_cover > span {
    padding: 0.3em 0.7em;
    background-color: #aaaaaac0;
    border-radius: 20px;
    box-shadow: 0 0 15px cornsilk;
  }

  #gallery .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom:0px;
    background-image: linear-gradient(transparent, #000000a0 4em);
    padding: 1em 1em 0 1em;
    color: rgb(214, 211, 255);
    text-shadow: 0 0 5px #555;
    font-family: var(--font-default)
  }

  #gallery .footer p {
    color: rgb(243, 127, 11);
    font-size: 1em;
    bottom: 1em;
  }

  #gallery .footer h2 {
    margin: 0.2em 10px;
    transition: all 0.2s ease;
    opacity: 0;
  }

  #gallery div:hover .footer h2 {
    opacity: 0.85;
  }

  #gallery .footer p {
    height: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
  }

  #gallery div:hover .footer p {
    height: 50px;
    background-image: linear-gradient(transparent, #161515 5em);
  }

  @media screen and (min-width: 900px) {
    #gallery img, #gallery .footer {
      margin: 0 auto;
    }
    #gallery > div:not(.selected) > img {
      width: 90%;
      /* transform: translateY(calc(90px - 50%)); */
      height: 85%;
    }
   
  }

  .learning-journey {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    margin: 10px; 
  }
  #frontend-developer h2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;

  }
  .step1, .step2, .step3 {
    display: grid;
    grid-template-columns: auto;
    margin: 5px;
    width: 350px;
    height: 260px;
    background-color:rgb(249, 194, 172, 0.7);
    font-family: var(--font-default);
    font-size: large;
    color: rgb(1, 42, 42);
    border-radius: 15px; 
  }
  .stage {
    background-color:  rgba(183, 211, 211, 0.7);
    width: 100%;
    height: 75px;
    border-radius: 15px;
    justify-content: center;
    padding-left: 15px;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  .icons {
    width: 35px;
    margin: 5px 5px 0 5px;
  }

  #copyright {
    font-size: 2.5em;
    font-family: var(--font-default);
    font-weight: bolder;
  }

  @media screen and (max-width: 720px) {    
    #navbar nav {
      max-height: 0px;
      overflow: hidden;
      transition: all 500ms ease;
      opacity: 0;
    }
    .hamburger:is(.open) + nav {
      max-height: 20em !important;
      opacity: 1 !important;
    }

    .hamburger {
      display: block;
    }
    
    #navbar ul {
      display: block;
    }
    #navbar ul li a {
      display: block;
    }
    .header {
      flex-direction: column;
    }
    .culture-workshops {
      display: inline-flex;
      flex-direction: column;
      
    }
    .step1, .step2, .step3 {
      font-size: medium;
    }

  }
